/* >>>>> ===================== CSS Components ================== <<<<<<<<*/

/* >>>>> ===================== CSS Style / Design ================== <<<<<<<<*/
:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-b02: #161616;
  --clr-wh2: #eee;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  object-fit: cover;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background: #ffffff;
  padding-bottom: 1000%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 2rem 0;
  text-align: center;
  background: var(--clr-wh2);

  transition: all 300ms ease-in-out;
}
header h1 {
  color: #161616;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* ==== Crear estilos que después vamos a agrgar en Javascript ===== */
/*Abajo*/
header.scroll-down {
  transform: translate3d(0, -100%, 0);
}
/*Arriba*/
header.scroll-up {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}
/*Menú abierto*/
header.menu-is-open {
  overflow: hidden;

  filter: none;
}
/* ==== MAIN ===== */
main {
  width: 100%;
  margin: 2rem auto;
  background: lightblue;
}
.section {
  width: 100%;
  height: 100vh;
}
