@keyframes move-cloud {
  0% {
    left: 130%;
  }

  100% {
    left: -30%;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
