/* >>>>> ===================== CSS Components ================== <<<<<<<<*/

/* >>>>> ===================== CSS Style / Design ================== <<<<<<<<*/
:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-b02: #161616;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  object-fit: cover;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background: #ffffff;
}
main {
  width: 100%;
  margin: 0 auto;
}
section {
  width: 100%;
  margin: 0 auto;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #ffffff;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;

  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .current-operand {
  color: #ffffff;
  font-size: 2.5rem;
}
