*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
img {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 55%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*   border: 2px solid red; */
  background-color: #f2796e;
  padding: 1rem 2rem;
}
/*style rules for content section*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.image {
  background-image: url(/src/assets/image/illustration.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 65%;
  /* border: solid 2px black; */
}
.text {
  text-align: center;
  color: #ffffff;
  font-size: 2.2rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}
/*Style form*/
