/* > ==================CSS COMPONENTS ======================<*/
@import "./mediaQueriesForm.css";
/* > ========================================<*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
img {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: row;
}
/*style rules for content section*/
.content {
  width: 55%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*   border: 2px solid red; */
  background-color: #f2796e;
  padding: 1rem 2rem;
}
.image {
  background-image: url(/src/assets/image/illustration.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 65%;
  /* border: solid 2px black; */
}
.text {
  text-align: center;
  color: #ffffff;
  font-size: 2.2rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}
/*Style form*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  /* max-width: 400px; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border: 2px solid red;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
form div input {
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-block-end: 0.5rem;
}
form div {
  position: relative;
  margin-block-end: 0.5rem;
}
input:is(:focus) {
  border: 2px solid #f2796e;
}
/*Style Social section */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}
.btn-1,
.btn-2 {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4c4c4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-2 {
  background-color: #4f70b5;
  color: #ffffff;
}
.btn-1,
.btn-2 img {
  margin: 0 0.5rem;
}
.or {
  text-align: center;
}
.question {
  font-size: 1.5rem;
}
span {
  color: #f2796e;
  cursor: pointer;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Style form icon*/
form div i {
  position: absolute;
  padding: 1rem;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}
.failure-icon,
.error {
  color: red;
}
.success-icon {
  color: green;
}
.error {
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
}

/*Style Button*/
.button {
  margin-block-start: 1.5rem;
  width: 100%;
  height: 4.5rem;
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 0.8rem;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}
button:is(:hover) {
  opacity: 0.8;
}
button:active {
  transform: scale(0.9);
}
